<tr>
	<td><%= truncate(user.name, length: 15)%> </td>
	<td><%= truncate(user.email, length: 15)%></td>
	<td><%= user.phone%></td>
	<td><%= user.rol_user.name%></td>
	<td><%= user.updated_at %></td>
</tr>